extends ../layout

block content
    .container
        .row
            each item in movies
                .col-md-2
                    .thumbnail
                        a(href='/movie/#{item._id}')
                        img(src='#{item.poster}',alt='#{item.title}',)
                        .caption.text-center
                            h4.wordsInaline #{item.title}
                            p: a.btn.btn-primary(href='/detail/#{item._id}',role='button') 观看预告片
